body {
    font-family: "Courier New", "Courier", monospace, sans-serif;
    font-size: 13px;
}

.full-page {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;

    margin: 2em;
}

#content {
    max-width: 512px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    font-size: 1em;
}

h1 {
    font-size: 1.25em;
}

ul {
    padding-left: 0;
    list-style-position: inside;
    list-style-type: "* ";
}

header {
    display: inline-block;
}

a {
    color: white;
}

hr {
    margin: 0;
    border: 0px;
}

hr::before {
    content: "---";
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
}
